/*******************************************
MODERN CSS RESET
******************************************/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /********************************************
  ***END OF RESET****************************
  *******************************************/
  /*## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
*/

:root {
  --fw-sm: 500;
  --fw-bg: 700;
  --color-bg: hsl(30, 38%, 92%);
  --color-primary: hsl(158, 36%, 37%);
  --color-white: hsl(0, 0%, 100%);
  --color-text:  hsl(228, 12%, 48%);
  --color-dark: hsl(212, 21%, 14%)
}

html {
    font-size: 62.5%; /* to make 1rem = 10px */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: var(--fw-sm);
    color: var(--color-text);
}

main {
  background-color: var(--color-bg);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 32rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  overflow: hidden;

  /* display: grid;
  grid-template-rows: 2fr 3fr; */

  /* display: flex;
  flex-direction: column; */
}
.card__img {
  height: 100%;
}
.card__content {
  padding: 3rem 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.card__sub-heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-weight: var(--fw-sm);

}
.card__heading, .card__price {
  font-family: 'Fraunces', serif;
  font-weight: var(--fw-bg);
  font-size: 3rem;
color: var(--color-dark);
line-height: 1.1;

}

.card__price-box {
  padding-top: .5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.card__price {

color: var(--color-primary);
}
.card__old-price {
  text-decoration: line-through;

}
.card__btn {
  padding: 1.5rem 3rem;
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: .5rem;
  font-weight: var(--fw-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  transition: all .3s;
}

.card__btn:hover {
  cursor: pointer;
  background-color: hsla(158, 39%, 29%, 0.968);;
}

@media (min-width: 90em) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 57rem;
  }


  .card__content {
    padding: 4rem 3rem 4rem;
  }
}